---
BasedOnStyle: Google
---
Language: Cpp
ColumnLimit: 150
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Left
IndentWidth: 2